.topo{
	margin-top:  20px;
}

.lista{
	margin:  20px 20px 20px 100px;

}

.botoes{
	margin-left: 100px;
}

.text{
	padding-top:  10px;
}

.titulo {

	text-align: center;
	padding-bottom: 20px;
}

.rodape{
	text-align: center;
}