h1{
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
}
body{
	text-align:center;
    background-color: 	#EE82EE;
	font-family:Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	margin: 10px
	
}
img {
width: 480px;
height: 500px;
}
h1{
	color: #1C1C1C;
}
h2{
	color:#1C1C1C;
}
a{
	color: #000000;
}
p{
	color:whith;
}
ul{
	color:orange;
}
h3{
	color:#1C1C1C;
}
footer{
	background-color:black;
}
{
	font-size: 30px
}