body{
	font-family: Verdana, sans-serif;
	text-align: center;
	color: #fbfafa;
	background-image: url(../img/background.png);
	background-attachment: fixed;
	background-size: cover;
}
h1{
	margin: 30px 0px 20px 0px;
}
h2{
	margin: 30px 0px 20px 0px;
}
p{
	text-align:left;
	margin-bottom: -15px;
	padding-left: 200px;
	padding-right: 200px;
}
ul{
	text-align: left;
	margin-top: 30px;
	margin-left: 180px;
}
figcaption{
	color: #000034;
}
img{
	margin-top: 30px;
}
a{	
	color: #fbfafa;
	margin-top: 20px;
}
footer{
	font-family: Verdana, sans-serif;
	text-align: center;
	color: #fbfafa;
	background-color: #000034;
}