	body{
		font-family: sans-serif;
		
		background-color: #228B22;
		color: #ffffff;
		margin:30px 40px 30px 40px;
	}
	h1{
		color:rgb(#ffffff);
		background-image: url(../img/claro.jfif);
		padding: 20px;
		text-align: center;
	}
	p{
		color:#ffffff;
	}
	figure{
		margin-bottom: 50px;
	}
	a{
		color: rgb(#00ced1);
	}

	footer{
		background-color: rgb(255,255,255)
		padding:10px;
		text-align: center;
	}