body{
	background-image:url(../IMG/texture1.png);
	font-family: sans-serif;
	text-align: center;
	background-color:darkred;
}
h1{
  background-color:#800000;
  color:white;
  margin-left:700px;
  margin-right:700px;
 font-size: 30px;
}
p{
	color:#f0f4f5;
	margin-left:600px;
	margin-right:600px;
	background-color:#800000;
	font-size:20px;
}

 ul{
	border-style:solid;
	background-color:#800000;
	margin-left:500px;
	margin-right:1120px;
}

h2{
	background-color:#000000;
	color:white;
    margin-left: 800px;
    margin-right: 800px;
    font-size: 25px;
}
a:visited{
	color:black;
}