body{
	background-image: url(../img/fundooooo2.png);
    text-align:center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1{
	color: rgb(217, 7, 7);
	background-color: rgb(10, 10, 10);

}
p{
	color: black;
}
h2{
color: rgb(217, 7, 7);
background-color: rgb(10, 10, 10);
}
p{
	color:rgb(255, 255, 255);
}
ul{
	color: rgb(255, 255, 255);
	border-color: rgb(217, 7, 7);
	border-style: solid;
	border-width: 5px;
}
a{
	color:rgb(0, 255, 229);
}
footer{
	background-color: rgb(217, 7, 7) ;
}