h2{
	background-image: url(.../img/antman.jpg);
	padding-right:  10000px;
}

footer{

	background-color: rgb(200,200,150);
	padding-top: 10px
	padding-left:50px;
	
}
h2{
	background-image: url(.../img/Paul Rudd.jpg);
	font-family: sans-serif;
}
h2{
	background-image: url(.../img/evangeline.jpg);
	color: 
}
h2{
	background-image: url(.../img/Stan_Lee.jpg);
}
h2{
	background-image: url(.../img/michael douglas.jpg);
}
h2{
	background-image: url(.../img/michael penã.jpg);
}
h2{
	background-image: url(.../img/david.jpg);
}
h2{
	background-image: url(.../img/ju.jpg);
}
h2{
	background-image: url(.../img/Corey Stoll.jpg);
}
h2{
	background-image: url(.../img/Bobby.jpg);
}
footer{
	background-color: rgb(200,200,150);
}



/  \