h1 {
	text-align: center;

}

body{ 
	padding-left: 30px;
	padding-right: 30px;
	background-image: url(../Img/239968-1.webp);
  
}
div{ 
	float: left;
}
p{
	font-size: 25px;
}
footer{ color: rgb(255,255,255);
		background-color: rgb(0,0,0);
}