p{
	color: darkred;
	font-family: sans-serif;
	font-size: 25px;
	background-image: url(../img/fundocerto.jfif);
}
body{
	background-image: url(../img/fundoelenco.jpg);
	text-align: center;
	background-attachment: fixed;
}
h1{
	font-family: sans-serif;
	color: darkred;
	background-image: url(../img/fundocerto.jfif);
}
h2{
	text-align: center;
	color: darkred;
	font-size: 30px;
	background-image: url(../img/fundoazul.jpg);
}
figure{
	text-align: center;

}
iframe{
	text-align: center;
	text-align: !important;
}
li{
	border-color: red;
	border-style: double;
	border-width: 2px
}