
body{
	background-image:url(../img/a.jpg);
	margin-left: 25px;
	margin-top: 30px;
	font-family: sans-serif;
}

#titulo{
	color: rgb(224, 255, 255);
}

#lista_personagens{
	color: rgb(255, 255, 255);
}

.link_voltar_lista{
	text-decoration: underline;
}

h2{
	color: rgb(224, 255, 255);
}

p{
	color: rgb(224, 255, 255);
	text-align: justify;	
}

a{
	text-decoration: none;
}

footer{
	padding: 10px;
	color: #ffffff;
	background-color: black;
	text-align: center;
}