body{
	background-color: rgb(230,230,250);
}
h1{
	border-style: solid;
	border-width: 15px;
	border-color: rgb(230,230,250); 

}
h2{
	background-color: rgb(230,230,250);
	color:black;
}
p{
	color: rgb(0,0,205);
}
ul{
	border-style: solid;
	border-width: 10px;
}	

footer{
	padding: 10px;
	color: rgb(0,0,205);
	background-color: rgb(230,230,250);
    text-align: center;
}
