body{
	font-family: sans-serif;
	background-color: #000000;
	color:#FFE4C4;
	margin: 100px;

}
li{
	color:#8B0000
}
h1{
	padding-left: 10px;
	padding-top:10 px;
	padding-bottom:10 px;
	font-family: sans-serif;
	
}
p{
	color:#FF0000 ;
	font-size: 20px;
}
figure{
	margin-left: 100px;
	margin-bottom: 60px;#000000
}
a{
	color:#DAA520 ;

}