body{
	font-family: sans-serif;
	margin-top: 10px;
	border-color: #00008B;
	border-width: 40px;
	border-style: solid;
}

.h13{
	font-size:60px;
	text-align: center;
}

img{
	width: 300;
	margin: 0px ;
	
}
h2{
	font-size: 40px;
	margin-left: 20px;
}

h3{
	font-size: 40px;
	margin: 10px ;
	text-align: center;
}
.p2{
	margin: 20px;
	font-size: 20px;
}
li{
	font-size: 20px;
	list-style-type: none;

		
}

.img2{
	width: 600;
	margin: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.p3{
	font-size: 20px;
	margin: 20px;

}
.p4{
	margin: 20px;
}
h4{
	font-size: 40px;
	margin: 10px ;
	text-align: center;
}
footer{
	padding: 10px;
	color: white;
	background-color: #0000FF;
	text-align: center;
}
.a0{
	margin:8px;
	text-decoration: none;
}

.h12{
	font-size: 50px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;


}
.img3{
	width: 300;
	margin: 15px;
}
.p5{
	margin-left: 10px;
	
}
.img4{
	width: 300;
	margin: 15px;
	height: 400px;
}
.p6{
  margin-left: 10px;	
}
.img5{
	width: 300;
	margin: 15px;
	height: 400px;
}
.p7{
  margin-left: 10px;	
}
.img6{
	width: 300;
	margin: 15px;
	height: 400px;
}
.p8{
  margin-left: 10px;	
}
.p10{
	margin-left: 10px;
}

.a1{
	margin: 15px;
}
.a2{
	margin: 15px;
}
a{  
	margin-left: 10px;
	margin-top: 10px;
	color: #00FFFF;
	text-decoration: none;
}