.logo{
	width: 100%;
	height: 250px;
	background-color: #123650;
}
.img1{

	width: 60%;
	height: 100%;
	float: left;
	margin-left: 20%;
}
body{
	background-color: #123650;
	margin: 10px 100px 0px 100px;
}

.andy{
	width: 350px;
	height: 550px;
	margin-left: 40%;
}

h1{
	margin-left: 44%;
	color: yellow;
}

h2{
	color: yellow;
}

.Melissa{
	width: 350px;
	height: 550px;
	margin-left: 40%;
}

.andre{
	width: 350px;
	height: 550px;
	margin-left: 40%;
}

a{
	color:yellow;
}

p{
	color: white;
	font-size: 20px;

}

li{
	color: white;
	font-size: 20px;
}

ol{
	color: white;
	font-size: 20px;
}

footer{
	background-color: rgb(200,0,50);
	color: black;
}