body{
	background-image: url(../img/anelSauron.jpg); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 100%;
    background-color: rgb(246,246,246);
	font-family: sans-serif;
	text-align: center;
	border: 3px solid;
}h1{
    background-color:rgb(8, 91, 125);
    color: rgb(0,0,0);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 20px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 3px;
 }
h2{
    background-color:rgb(8, 91, 125);
    color: rgb(0,0,0);
    margin-left: 500px;
    margin-right: 500px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 3px;
}
h3{
    background-color:rgb(158,204,230);
    color: rgb(0,0,0);
    margin-left: 500px;
    margin-right: 500px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 3px;
}
h4{
    background-color: rgb(8, 91, 125);
    padding:5px;
}
p{
    color: rgb(0,0,0);
    padding: 20px;
    background-color: rgba(192, 188, 205, 0.8);
    margin-left: 100px;
    margin-right: 100px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 3px;
 }
a{
    color: rgb(0, 0, 0);
}
