body{ 
	background-color: black;
	margin: 60px;
	background-color: #FFDAB9;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
	text-align: center;
}
h1{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	padding-left: 2px;
	color: #4682B4;
	background-color: #F4A460;
}
h2{
	margin-top: 60px;
	color: #4682B4;
}
h3{
	color: #4682B4;
}
img{
	max-width: 350px;
	width: auto;
}
p{
	color: #4682B4;
}
footer{
	padding: 10px;
	color: #964b00;
	background-color: #F4A460;
	text-align: center;
}
