body{ background-image: url(../img/fundo.jpg);
	font-family: monospace;}

h1{background-color: #4682B4;
	opacity: 0.8;
	color: #F5FFFA;}
h2{color: #F5FFFA;
font-size: 15px}

h3{font-size:20px;
	color: #F5FFFA;
background-color:#4682B4;
opacity: 0.78
}

a{color:red;
background-color:  #F5FFFA;
opacity:0.9;
font-size: 15}

p{color:  #F5FFFA;
background-color: #000000;
opacity: 0.6}

figcaption{color:  #F5FFFA}
h4{font-size: 15;
color:  #F5FFFA;}

li{font-size: 15;
color:  #F5FFFA;}

footer{color: #F5FFFA;
font-size: 15px;
text-align: center;