body{
    text-align: center;
    font-family: Trebuchet MS, sans-serif
    background-color: #008B8B;
    background-image: url(../img/doce.jpg);
    background-size: 1500px 1000px;
    color: #FFFF00

}
}
h2{
	font-family: Brush Script MT, Brush Script Std, cursive;
	background-color
}

a{
	color: #ADD8E6;
}
strong{
    color: #FFFF00;
    font-size: 25px;
}
em{
    color: #8B0000;
}
h1{
    background-color:#FFDAB9; 
    color: #8B0000;

}
h3{
    font-size: 35px;
}
h4{
    font-size: 25px ;
}
p{
    font-size: 23.1px;
    color: #FFFF00;
}
img{
    color: #FFD700;
}