body{
	background-image:url(../IMG/L.jpg);
	background-size: cover ;
	background-repeat: no-repeat;
	font-family:monospace;
	text-align: inherit;
	color: rgb(240,248,255);
}
h1{
	text-align: center;

}
p{
	color: #FFFFFF;
	margin-top: 70px;
	margin-bottom: 50px;
	margin-right: 200px;
	margin-left: 200px;
}
footer{
	color: #000000;
	margin-top: 50px;
	margin-bottom:200px; 
}
div{
	float: left;
}
#flor{
	color: #000000;
	background-color: #FFFFFF;
}
