body{
	color:white;
	background-image:url(../img/bakk0.png);
	text-align:center;
}
a{
	color:rgb(0,300,0);
	text-align:center;
}
h1{
	color:black;
	background-color:rgb(200,200,200);
	
}
h2{
	color:black;
	background-color:rgb(200,200,200);
}