html{
	text-align: center;
	background-image: url(../img/fundo.jpg);
	color: rgb(0,0,0);
}
h1{
	font-family:"Times New Roman", serif;
	color: rgb(0,0,0);
}
h2{
	font-family:Times, serif;
	color: rgb(0,0,0);
}
p{
	font-family:Georgia, serif;
	color: rgb(0,0,0);
}
footer{
	font-family: mosk,sans-serif;
	color: rgb(0,0,0);
	background-color: rgb(225,225,225);
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	margin: 20px;
}