body{
background: url(./img/izu.jpg) ;
background-size: cover ;
background-repeat: no-repeat;
}

h2{
color:#FFFFFF;
}

p{
color:#FFFFFF;

}

a{
color:#FFFFFF;

}
h1{

color: #00FFF8;

}

footer{
color:#FFFFFF;

}

