 body{

	background-image: url(../img/fundoo.jpg);
	color: rgb(255, 255, 255);
}
a{
color: rgb(255,255,0);


}

ul{

}
h2{
	font font-family: ;
	color: ;
	background-color:rgb 135,206,250;
}
h1{
	border-color: rgb(135,206,250);
}