body{
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;
	font-family: sans-serif;
	background-color: black;
}
h1{
	text-align: center;
	border: 2px rgb(200, 0, 0) solid;
}
figure{
	text-align: center;
}
h3{
	font-size: 30px;
}
.titulo{
	color: rgb(200, 0, 0);
	text-align: center;
}
p{
	font-size: 20px;
	color: rgb(0, 0, 200);	
	text-align: center;
	margin-left:300px ;
	margin-right: 300px;
}
ul{
	color: rgb(0, 0, 200);
}
a{	
	font-size: 20px;
	color: rgb(0, 0, 200);	
}
figure{
	color: rgb(0, 0, 200);
}
img{
	width: auto;
	height: 50vh;
}
footer{
	color: black;
	background-color: rgb(200, 0, 0);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin: 0;	
}