body{
			 background-color: rgb(128,0,0);
			 color: rgb(255,255,255);
			 margin: 50px;
			 font-family: arial;
		}
		li{
			list-style-position: inside;
		}
		h1{
			color: rgb(255,255,255);
			padding-left: 30px;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-right: 20px;
		}
		p{
			color: rgb(255,255,255);
		 }
		figure{
            margin-right:100px; 
		}
        footer{
        	background-color: rgb(255,0,0); 
        	padding: 10px;
        	color: rgb(255,255,255);
        }
        
        a{
          color:rgb(0,255,255);
        }
        