body{
	text-align: center;
	background-image: url(../Img/fundo4.jpg);
}
h1{
	color: rgb(106,90,205);
	background-color: rgb(176,196,222);
}
h2{
	color: rgb(176,224,230);
}
ul{ 
	font-family: Chalkduster, fantasy;
	border-color:rgb(30,144,255);
	border-style:outset;
	border-width:6px;
}
figcaption{
	font-family:Gill Sans, sans-serif; 
	color:rgb(123,104,238);
}
p{
	color: rgb(240,248,255);
	font-family: Courier, monospace;
}
a{
	font-family: Blippo, fantasy;
}
footer{
		padding: 7px;
		color: rgb(65,105,225);
		background-color: rgb(176,196,222);
		text-align: center;
}