body{
	background-color: gray;
	margin-left: 90px
	margin-top: 70px;
	font-family: 'Nimbus Sans L', sans-serif
	
}
h1{
	color: black;
	background-color: gray
}
h2{
	color: black;
	background-color: gray
}
h3{
	color: black;
	background-color: gray
}