    body{
      color: rgb(255,140,0);
      font-family: sans-serif;
      background-color: #E8E8E8;
      text-align: center;
   }
   img{
     max-width: 2000px;
     width: auto;
   }
    h1{
      color: white;
      background-image: url(../img/Fundo1.jfif);
      border-color: black;
      border-style: solid;
      border-width: 2px
   }
    figcaption{
      color: white;
      background-image: url(../img/Fundo1.jfif);
      border-color: black;
      border-style: solid;
      border-width: 2px
   }
    h2{
      color: white; 
      background-image: url(../img/Fundo1.jfif);
   }
    p{
      color: #000000;
   }
    ul{
      list-style: none;
      color: white;
      background-image: url(../img/Fundo1.jfif);
      border-color: black;
      border-style: solid;
      border-width: 2px
  }

  #rodape1{
    color: white;
    background-image: url(../img/Fundo1.jfif);
  }

#rodape2{
    color: white;
}