h1{
	color:#FF0000

}	
h3{
	border-style: double;
	border-color: red;
	border-width: 8px;
	margin-right: 250px;
	color: #000000
}
body{
	margin-left: 25px;
	font-family: sans-serif;
	background-color: #E6E6FA

}
p{
	border-style: solid;
	border-color: red;
	border-width: 3px;
	margin-right: 250px;
	color: #000000
}