body{
	background-color: #8B0000;
	
	font-family: cursive;
  text-align: center;

}
  ul{
  	border-color: #d8cf7f  ;
  	border-style: solid;
  	border-width: 100px;

  }
  h1{
  	
  	color:#f8f8ff;
  	background-color:#ff4500;

  }
  footer{
  	padding:10px;
  	color: #ffffff;
  	background-color: #ff4500;
  	text-align: center;
  }
  
  
  h2{
    background-color: #ff4500;
    color: #FFFFFF;
  }
 a{
  color: #cd5c5c;
 }  
 h3{
  background-color: #ff4500;
  color: #FFFFFF;

 }
  