body{
	margin: 390px;
	margin-left: 20;
	background-color: rgb(0, 0, 0);
	margin-top: 10px;
}
h1{
	padding: 25px 25px 25px 25px;
	color: white;
	font-family: sans-serif;
}
h2{
	padding: 25px 25px 25px 25px;
	margin: 15px;
	color: white;
	font-family: sans-serif;
}
h3{
	padding: 25px 25px 25px 25px;
	margin: 15px;
	color: white;
	font-family: sans-serif;
}
h4{
	padding: 25px 25px 25px 25px;
	margin: 15px;
	color: white;
	font-family: sans-serif;
}
h5{
	padding: 25px 25px 25px 25px;
	margin: 15px;
	color: white;
	font-family: sans-serif;
}
h6{
	padding: 25px 25px 25px 25px;
	margin: 15px;
	color: white;
	font-family: sans-serif;
}
h7{
	padding: 25px 25px 25px 25px;
	margin: 15px;
	color: white;
	font-family: sans-serif;
}
p{
	margin: 15px;
	color: white;
	font-family: sans-serif;
}
li{
	margin: 15px;
	color: white;
	font-family: sans-serif;
}
a{
	margin: 15px;
	color: white;
	font-family: sans-serif;
}
ul{
	margin: 15px;
	color: white;
	font-family: sans-serif;
}