	body{
	text-align: center;
	background-color: rgb(72,61,139);
	font-family: sans-serif;
	font-size: 20px;
	margin: 40px 40px 40px 40px;
	color: rgb(255,255,255);
}
	h1{
	color: rgb(248,248,255	);
	background-color: rgb(0, 0, 0);
	border-color: rgb(255,255,255);
	border-style: solid;
	border-width: 4px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15;

}
	h2{
	background-color: rgb(0,0,0);
}
	h3{
	background-color: rgb(0,0,0);
}
	ul{ 
	border-color: rgb(72,61,139);
    border-style: solid;
    border-width: 3px;
}
	figure{
	margin-bottom: 60px;
}
	a{
	color: rgb(0,104,139);
}
	footer{
	background-color: rgb(0,0,0);
	color: rgb(100,100,100);
}
	li{
	list-style-position: inside;
	color: rgb(255,255,255);
}
	p{
	color: rgb(255,255,255);
}