body
    {
    margin:100px 400px 100px 400px;
    font-family:Helvetica,Verdana,sans-serif;
    text-align:center; 
    background-color:#DCDCDC;    
}

h2 { 
    margin-top:100px;

} 
h3{ 
    margin-top:90px;

} 

footer{
    background-color:rgb(200,200,200);
    padding-top:10px; 
    padding-bottom:10px;
    padding-left:350px;
    margin-top:10px;
}

a{
    margin-top:15px;
}
 
p{
    text-align:justify;
    texte-indent:20px;

}



