
body{
	background-color: #061BF6;
}
h3{
	color: #F32D2D;
	font-family: sans-serif;
}
a{
	color: #00fe00;
	font-family: sans-serif;
}
h1{
	color: #FFFF00;
	font-family: sans-serif;
	text-align: center;
}