body{
	background-color: #211C1C;
    text-align: center;
    font-size: 20px;
}
h1{
	color: #CB3B3A;
}
h2{
	color: white;
}
h3{
	color: white;
}
p{
	color: white;
}
li{
	color: white;
}
img{
	background-color: #211C1C;
}
a{
	color: #CB3B3A;
}