body{
	font-family: sans-serif;
	background-color: rgb(255,102,102);
	color: black;
     margin-left: 400px;
    margin-bottom: 200px;
    margin-top: 30px;
    margin-right: 40px;
}
 h1{
	 color: white;
	 background-image: url(../img/claro.jfif);
	 padding: 20px;
	 text-align: center;
	
}
 p{
 	color:black;
 	font-size: 20px;
 }
 figure{
 	margin-bottom: 100px;
 }
 a{
 	color: rgb(255,255,255);
 }
 footer{
 	margin-left: 200px;
 	background-color: white;
 	padding: 200px;
 	text-align: center;
 }