body{
    background-color:   rgba(49, 44, 44, 0.664);
}
h1 {
    color: #f0f0f0;
    background-color: #000;
    padding: 40px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.links {
    background: #000;
    font-size: 25px;
    color: white;
    margin-top: 5%;
    padding: 3px;
}
p{
    font-size: 25px;
    font-family: monospace;
    border-radius: 50px 0 50px 50px;
    border-width: 8px;
    border-style: solid;
    margin-right: 1500px;
    padding: 10px;
}
.img-1 {
    border-radius: 100px;
    border-width: 5px;
    border-style:solid;
    border-color: white;
    margin-top: 30px;
}
img {
    margin-left: 240px;
}
footer {
    background-color: #000;
    padding: 0,5%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-variant: small-caps;
}
.margin1 {
    margin-left: 500px;
    margin-top: 50px;
}